
$marxe1:30px;




#slide1{
    height:350px;
}

#imaxes1{
    height: 350px;
    width: 280px; 
align-self: center;
background-color: rebeccapurple;


}









    #presentacion{


        text-align: justify;

        img{
            width: 90%;

            float:middle; //not workin


            //borde???

        }
    }


    



  


    #novas{
       
text-align: center;


    }

